input[type="text"]
{
    background: transparent;
    border: none;
    font-size: 8em;
    margin: auto;
    text-align: center;
    color: rgb(206, 205, 205);
    width: 90%;
}
input[type="password"]
{
    background: transparent;
    border: none;
    font-size: 8em;
    margin: auto;
    text-align: center;
    color: rgb(206, 205, 205);
    width: 90%;
}